<div id="middle">
	<div id="left">
		<ul class="l-menu nav" data-spy="affix" data-offset-top="325">
			<% @tags.each do |tag| %>
			<li><a href="#<%= tag.id %>"><%= tag.title %></a></li>
			<% end %>
		</ul>
	</div>
	<div id="right">
		<span class="h1"><%= image_tag("h1-news.png") %></span>
		
		<dl class="news-list">
			<% @tags.each do |tag| %>
			<div id="<%= tag.id %>"></div>
			<% Event.where(:tag_id => tag.id).all.each do |event| %>
			<dt><span><%= event.title %></span><i><%= if event.date? then event.date.strftime("%d.%m.%Y") end %></i></dt>
			<dd class="content">
				<div><%= sanitize event.text %></div>
			</dd>
			<% end %>
			<% end %>
		</dl>
	</div>
</div>