	<div id="middle">
		<div id="left">
			<ul class="l-menu nav" data-spy="affix" data-offset-top="325">
				<% @articles.each do |article| %>
				<li><a href="#<%= article.id %>"><%= article.title %></a></li>
				<% end %>
			</ul>
		</div>
		<div id="right" class="content">
			<% @articles.each do |article| %>
			<span class="h1" id="<%= article.id %>"><%= if article.img? then image_tag(article.img.url(:medium)) end %></span>
			<%= article.text.html_safe %>
			<% end %>
		</div>
	</div>